{% extends "base.html" %}
{% load result_extras %}
{% load static %}
{% load avatar_tags %}

{% block title%}Courses - Saiki{% endblock %}

{% block script_1 %}

{% include '../includes/messaging.html' %}

{% endblock %}

{% block content %}
<!-- Header -->


{% include '../includes/header.html' with heading=course.course.description subheading=course.course.code|addstr:" | "|addstr:course.term %}


<div class="container-fluid mt--6">

    <div class="row">

        <div class="col">
<div class="card">

              <!-- Card header -->
              <div class="card-header">
                <h3 class="mb-0">{{ student_.user.first_name }} {{ student_.user.last_name }} - {{ student_.user.username }}</h3>
              </div>
              <!-- Card body -->
              <div class="card-body">
                <form class="needs-validation" action="" method="POST">
                    {% csrf_token %}
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                    <div class="form-group">
                        <label class="form-control-label" for="{{ form.grade.id_for_label }}">Grade:</label>
                        {{ form.grade }}
                    </div>
                    </div>
                  </div>
                  <button class="btn btn-primary" type="submit">Save changes</button>
                </form>
              </div>
            </div>
        </div>
    </div>
{% endblock %}