{% extends "base.html" %}

{% block title%}My Courses - Saiki{% endblock %}

{% block content %}
<!-- Header -->
{% if is_student %}
    {% if courses_offering %}
        {% include '../includes/header.html' with heading="My courses" %}
    {% else %}
        {% include '../includes/header.html' with heading="Hidden courses" %}
    {% endif %}
{% endif %}

{% if is_teacher %}
{% if archives %}
    {% include '../includes/header.html' with heading="Archived courses" %}
{% else %}
    {% include '../includes/header.html' with heading="My courses" %}
{% endif %}
{% endif %}

{% if is_student %}
    {% include './course_s.html' %}
{% elif is_teacher %}
    {% include './course_t.html' %}
{% endif %}

{% endblock %}