<form id="form-{{ course_off.slug }}" method="POST" action="{% for ce in course_off.courseenrollment_set.all %}{% url 'course_hide' course_off.slug ce.pk %}{% endfor %}">
    {% csrf_token %}
    {% for ce in course_off.courseenrollment_set.all %}
        {% if ce.is_hidden %}
            <input type="hidden" value="False" name="is_hidden">
            <a class="dropdown-item" href="#" onclick="document.getElementById('form-{{ course_off.slug }}').submit();">
                <i class="fas fa-eye text-xs"></i>
                <span>Show</span>
            </a>
        {% else %}
            <input type="hidden" value="True" name="is_hidden">
            <a class="dropdown-item" href="#" onclick="document.getElementById('form-{{ course_off.slug }}').submit();">
                <i class="fas fa-eye-slash text-xs"></i>
                <span>Hide</span>
            </a>
        {% endif %}
    {% endfor %}
</form>