
<div class="container-fluid mt--6">
{% if courses_offering %}
    <div class="row">
        {% for course_off in courses_offering %}
            {% include './course_card.html' %}
        {% endfor %}
    </div>

{% if hidden_courses %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        {% comment %} <h1 data-toggle="collapse" href="#collapseArchive" aria-expanded="false" aria-controls="collapseArchive">Archived Courses</h1> {% endcomment %}
        <h1 class="w-100 text-left h3" data-toggle="collapse" data-target="#collapseArchive" aria-expanded="false" aria-controls="collapseArchive">
        Hidden courses
            <i class="ni ni-bold-down float-right"></i>
        </h1>
    </div>
    <div class="row collapse" id="collapseArchive">
{% endif %}
{% else %}
    <div class="row">
{% endif %}
        {% for course_off in hidden_courses %}
            {% include './course_card.html' %}
        {% endfor %}
    </div>
</div>
