<div class="header bg-primary pb-6">
    <div class="container-fluid">
    <div class="header-body">
        <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
                <h6 class="h2 text-white d-inline-block mb-0">
                  {{ course.course.description }}
                </h6>
                <h5 class="text-light">{{ course.course.code }} | {{ course.term }}</h5>
            </div>

            <div class="col-lg-6 col-5 text-right">
                {% if teacher %}
                    <a href="{% url 'course:assignment:create' course.slug %}" class="btn btn-sm btn-neutral">Create assignments</a>
                {% endif %}
                <a href="{% url 'course:assignment:index' course.slug %}" class="btn btn-sm btn-neutral">View assignments</a>
            </div>
        </div>
    </div>
    </div>
</div>