{% extends "../base.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% url 'accounts:profile' as accounts_profile_url %}
{% url 'accounts:edit' as accounts_edit_url %}
{% include '../includes/header.html' with heading="Change password" btn1_url=accounts_profile_url btn1_title="View profile" btn2_url=accounts_edit_url btn2_title="Edit profile" %}

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <form method="post" class="pt-4">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success">Save changes</button>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-xl-4">
            {% include "./profile_card.html" %}
        </div>
    </div>
</div>
{% endblock %}