{% extends "../base.html" %}
{% load crispy_forms_tags %}
{% load avatar_tags %}

{% block content %}

{% url 'accounts:profile' as accounts_profile_url %}
{% url 'accounts:edit' as accounts_edit_url %}
{% include '../includes/header.html' with heading="Change password" btn1_url=accounts_profile_url btn1_title="View profile" btn2_url=accounts_edit_url btn2_title="Edit profile" %}

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <form method="post" class="pt-4">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success">Save changes</button>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-xl-4">
            <div class="card card-profile">
                <img src="../../assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a href="#">
                                {% avatar user 134 class="rounded-circle" id="user_avatar" %}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body mt-6">
                    <div class="text-center">
                        <h5 class="h3">
                            {{ student.display_name }}
                        </h5>
                        <div class="h5 mt-4">
                            Semester {{ student.semester }}
                        </div>
                        <div>
                            {{ student.program.description }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}