{% extends "../base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

{% url 'accounts:profile' as accounts_profile_url %}
{% url 'accounts:change_pwd' as accounts_change_pwd_url %}
{% include '../includes/header.html' with heading="Edit account" btn1_url=accounts_profile_url btn1_title="View profile" btn2_url=accounts_change_pwd_url btn2_title="Change password" %}

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <form method="post" class="pt-4">
                        {% csrf_token %}
                        {{ form.display_name|as_crispy_field }}
                        <div class="row">
                            <div class="col-6">
                                {{ form.first_name|as_crispy_field }}
                            </div>
                            <div class="col-6">
                                {{ form.last_name|as_crispy_field }}
                            </div>
                        </div>
                        {{ form.email|as_crispy_field }}
                        {% if is_student %}
                        <div class="row">
                            <div class="col-6">
                                {{ form.phone_number|as_crispy_field }}
                            </div>
                            <div class="col-6">
                                {{ form.telephone|as_crispy_field }}
                            </div>
                        </div>
                        {{ form.address_1|as_crispy_field }}
                        {{ form.address_2|as_crispy_field }}
                        {% endif %}
                        <button type="submit" class="btn btn-success">Save changes</button>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-xl-4">
            {% include "./profile_card.html" %}
        </div>
    </div>
</div>
{% endblock %}