{% extends "../base_generic.html" %}
{% load static %}

{% block body__attributes %}class="bg-default"{% endblock %}
{% block body %}

{% include '../includes/navbar_landing.html' %}

<div class="main-content">
  <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8 px-5">
            <h1 class="text-white">Get back into your account</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>

  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary border-0 mb-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="mb-4 text-lg">
              We're sorry
            </div>
            <div class="text-left text-sm">
            You can't reset your own password because password reset isn’t available with your organization’s license.
            <br>
            <br>
            You must contact your administrator to both reset your password and to check your organization’s setup.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include '../includes/footer_landing.html' %}
{% endblock %}