{% extends "base.html" %}
{% load static %}
{% load avatar_tags %}
{% load result_extras %}

{% block title%}Announcement - Saiki{% endblock %}
{% block script_1 %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
{% endblock %}

{% block style %}
<link type="text/css" href="{% static '/css/file-icon-square-o.min.css' %}" rel="stylesheet" >
{% endblock %}

{% block content %}
{% if is_student %}
	{% include '../includes/header_ad.html' %}
{% elif is_teacher %}
	{% url 'assignment:edit' assignment.slug as assignment_edit_url %}
	{% url 'assignment:delete' assignment.slug as assignment_delete_url %}
	{% with assignment.deadline|date:"F d, Y f A" as assignment_deadline %}
	{% include '../includes/header.html' with heading=assignment.title subheading="Due "|addstr:assignment_deadline btn1_url=assignment_edit_url btn1_title="Edit" btn2_url=assignment_delete_url btn2_title="Delete" %}
	{% endwith %}
{% endif %}
		

<div class="container-fluid mt--6">
   <div class="row">
        <div class="col">
{% if is_student %}
	{% include './assignment_detail_student.html' %}
{% elif is_teacher %}
	{% include './assignment_detail_teacher.html' %}
{% endif %}
		</div>
    </div>
</div>
{% endblock %}