{% extends "base.html" %}
{% load static %}

{% block title%}Assignments - Saiki{% endblock %}

{% block script_1 %}
<script src="{% static "/vendor/quill/dist/quill.min.js" %}"></script>
<script>

'use strict';

var QuillEditor = (function() {

  function debounce(callback, wait, immediate = false) {
    let timeout = null 
    
    return function() {
      const callNow = immediate && !timeout
      const next = () => callback.apply(this, arguments)
      
      clearTimeout(timeout)
      timeout = setTimeout(next, wait)

      if (callNow) {
        next()
      }
    }
  }

	// Variables

	var $quill = $('[data-toggle="quill"]');
  
  var quill = new Quill($quill.get(0), {
    modules: {
      toolbar: [
        ['bold', 'italic'],
        ['link'],
        [{
          'list': 'ordered'
        }, {
          'list': 'bullet'
        }]
      ]
    },
    // placeholder: placeholder,
    theme: 'snow'
  });



  window.addEventListener("beforeunload", function (e) {
    if (window.unsavedChanges) {
      e.returnValue = 'Unsaved Changes!';
      return 'Unsaved Changes!';
    };
    return;
  });

  var syncHtml = debounce(function() {
    var contents = $(".ql-editor").html();
    $('#description').val(contents);
    console.log(contents)
    window.unsavedChanges = false;
  }, 500);

  quill.on('text-change', function() {
    window.unsavedChanges = true;
    syncHtml();
  });

})();

</script>
{% endblock %}

{% block style %}
<link type="text/css" href="{% static '/vendor/quill/dist/quill.core.css' %}" rel="stylesheet" >

{% endblock %}

{% block content %}


<!-- Header -->
{% include '../includes/header.html' with heading="Create assignment" %}

<div class="container-fluid mt--6">
<div class="row">
    <div class="col">
<div class="card mb-4">
        <!-- Card header -->
        <div class="card-header">
          <h3 class="mb-0">{{course.course.code}} - {{course.term}}</h3>
        </div>
        <!-- Card body -->
        <div class="card-body">
          <!-- Form groups used in grid -->
          <div class="row">
            <div class="col-md-6">
              <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-control-label">Title</label>
                    <input type="text" class="form-control placeholder="One of three cols" name="title" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-control-label">Points</label>
                    <input type="number" class="form-control" min="0" name="points" default="0" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label class="form-control-label">Deadline</label>
                    <input type="date" class="form-control" name="date" required>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label class="form-control-label invisible">Deadline</label>
                    <input type="time" class="form-control" name="time" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-control-label" for="example4cols1Input">Instruction</label>
                    <input name="description" type="hidden" id="description">
                    <div data-toggle="quill" data-quill-placeholder="Quill WYSIWYG"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <button class="btn btn-primary" type="submit">Proceed</button>
                  </div>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


</div>
{% endblock %}