{% extends "base.html" %}
{% load static %}

{% block script_1 %}
<script src="{% static "/vendor/quill/dist/quill.min.js" %}"></script>
{% endblock %}

{% block style %}
<link type="text/css" href="{% static '/vendor/quill/dist/quill.core.css' %}" rel="stylesheet" >
{% endblock %}

{% block content %}


<!-- Header -->
{% include '../includes/header_course.html' %}

<div class="container-fluid mt--6">
<div class="row">
    <div class="col">
<div class="card mb-4">
        <div class="card-header">
          <h3 class="mb-0">Create new assignment</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label class="form-control-label">Title</label>
                      <input type="text" class="form-control placeholder="One of three cols" name="title" required>
                    </div>
                  </div>
                </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-control-label">Points</label>
                    <input type="number" class="form-control" min="0" name="points" default="0" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label class="form-control-label">Deadline</label>
                    <input type="date" class="form-control" name="date" required>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label class="form-control-label invisible">Deadline</label>
                    <input type="time" class="form-control" name="time" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-control-label" for="example4cols1Input">Instruction</label>
                    <input name="description" type="hidden" id="description">
                    <div class="quill-initial-state d-none"></div>
                    <div data-toggle="quill" data-quill-placeholder="Quill WYSIWYG"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <button class="btn btn-primary" type="submit">Proceed</button>
                  </div>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


</div>
{% endblock %}