{% extends "base.html" %}
{% load static %}
{% load result_extras %}

{% block title%}Assignments - Saiki{% endblock %}

{% block script_1 %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
<script src="{% static "/vendor/quill/dist/quill.min.js" %}"></script>
{% endblock %}

{% block style %}
<link type="text/css" href="{% static '/vendor/quill/dist/quill.core.css' %}" rel="stylesheet" >
<link type="text/css" href="{% static '/css/file-icon-square-o.min.css' %}" rel="stylesheet" >
{% endblock %}

{% block content %}


<!-- Header -->
{% url 'assignment:detail' assignment.slug as assignment_detail_url %}
{% url 'assignment:delete' assignment.slug as assignment_delete_url %}
{% with assignment.deadline|date:"F d, Y f A" as assignment_deadline %}
{% include '../includes/header.html' with heading=assignment.title subheading="Due "|addstr:assignment_deadline btn1_url=assignment_detail_url btn1_title="View" btn2_url=assignment_delete_url btn2_title="Delete" %}
{% endwith %}
<div class="container-fluid mt--6">
<div class="row">
    <div class="col">
<div class="card mb-4">
        <div class="card-header">
          <h3 class="mb-0">Edit Assignment</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-control-label">Title</label>
                    <input value="{{ assignment.title }}" type="text" class="form-control placeholder="One of three cols" name="title" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-control-label">Points</label>
                    <input type="number" class="form-control" name="points" value="{{ assignment.points }}" min="0">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label class="form-control-label">Deadline</label>
                    <input type="date" class="form-control" name="date" value="{{ assignment.deadline|date:"Y-m-d" }}">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label class="form-control-label invisible">Deadline</label>
                    <input type="time" class="form-control" name="time" value="{{ assignment.deadline|date:"H:i" }}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-control-label" for="description">Instruction</label>
                    <input name="description" type="hidden" id="description" value="{{ assignment.description }}">
                    <div class="quill-initial-state d-none">{{ assignment.description|safe }}</div>
                    <div data-toggle="quill"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <button class="btn btn-primary" type="submit">Save changes</button>
                  </div>
                </div>
              </div>
              </form>
            </div>
            <div class="col-md-6">
                <div class="col-12">
                  <div class="form-group">
                    <form method="POST" enctype="multipart/form-data" id="form" action="{% url 'assignment:edit_upload' assignment.slug %}">
                      <label class="form-control-label">Work material</label>
<div
            class="dropzone dropzone-multiple"
            data-toggle="dropzone"
            data-dropzone-multiple
            data-dropzone-url="{% url 'assignment:edit_upload' assignment.slug %}"
          >
            {% csrf_token %}
            <div class="fallback">
              <div class="custom-file">
                <input
                  type="file"
                  class="custom-file-input"
                  name="file"
                  id="file"
                  multiple
                />
                <label class="custom-file-label" for="dropzoneMultipleUpload">Choose file</label>
              </div>
            </div>
            <ul class="mt-2 material dz-preview dz-preview-multiple">
              <li class="mb-2">
                <a href="#" class="position-relative">
                  <span class="fiv-sqo fiv-icon-blank"></span>
                  <span class="text-sm font-weight-bold text-dark" data-dz-name>...</span>
                </a>
                <div class="progress">
                  <div class="progress-bar bg-default" role="progressbar" data-dz-uploadprogress>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </form>
        <div class="dropzone">
          <ul class="material">
            {% for assignment_file in assignment_files %}

            <li class="mb-2">
              <a
                href="{{ assignment_file.file.url }}"
                target="_blank"
                class="position-relative">
                <span class="fiv-sqo fiv-icon-{{ assignment_file.extension }}"></span>
                <span class="text-sm font-weight-bold text-dark" data-dz-name
                  >{{ assignment_file.filename }}</span>
                <span class="px-2 position-absolute right-0"
                  ><i class="ni ni-fat-remove"></i></span>
              </a>
            </li>

            {% endfor %}
          </ul>
        </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


</div>
{% endblock %}