<div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col-6">
                        <h3 class="mb-0">{{ heading }}</h3>
                        </div>
                        {% if courses %}
                        <div class="col-6 text-right">
                            <a href="{% url 'assignment_create' course.slug %}" class="btn btn-sm btn-primary btn-round">
                                <span class="btn-inner--text">Create</span>
                            </a>
                            <a href="{% url 'assignment' course.slug %}" class="btn btn-sm btn-primary btn-round">
                                <span class="btn-inner--text">View</span>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="w-50">Assignment</th>
                                <th scope="col" class="w-30">Due Date</th>
                                <th scope="col" class="w-10">Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for assignment in assignments %}
                                {% if assignment.course_offering == course %}
                                    <tr>
                                    <td class="font-weight-bold">
                                    <a class="text-dark" href="{% url 'assignment_detail' assignment.slug %}">{{ assignment.title }}</a>
                                    </td>
                                    <td>Due {{ assignment.deadline|date:"F d, Y f A" }}</td>
                                    {% if assignment.points == 0 %}
                                    <td>No points</td>
                                    {% else %}
                                    <td>{{ assignment.points }} point{{ assignment.points|pluralize }}</td>
                                    {% endif %}
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>                </div>
            </div>