{% extends "base.html" %}
{% load static %}

{% block title%}Assignments - Saiki{% endblock %}

{% block script_1 %}
{% endblock %}

{% block content %}


<!-- Header -->
{% include '../includes/header.html' with heading='Delete Assignment' %}

<div class="container-fluid mt--6">
<div class="row">
<div class="col">
<div class="card mb-4">
        <div class="card-body">
          <!-- Form groups used in grid -->
          <div class="row">
            <div class="col-md-12">
            <form method="post">
                {% csrf_token %} 
                <p class="font-weight-bold">Are you sure you want to delete "{{ object }}"?</p> 
                <input type="submit" value="Confirm" class="btn btn-primary btn-sm">
                <a href="{% url 'assignment:edit' assignment.slug %}" type="button" class="btn btn-secondary btn-sm">Cancel</a>
            </form> 
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


</div>
{% endblock %}










