<div class="header bg-primary pb-6">
    <div class="container-fluid">
    <div class="header-body">
        <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
                <h6 class="h2 text-white d-inline-block mb-0">{{ assignment.title }}</h6>
                <h5 class="text-light">Due {{assignment.deadline|date:"F d, Y f A"}}</h5>
            </div>

            <div class="col-lg-6 col-5 text-right">
                <a href="{% url 'assignment:edit' assignment.slug %}" class="btn btn-sm btn-neutral">Edit</a>
            </div>
        </div>
    </div>
    </div>
</div>
