{% load avatar_tags %}
{% comment %} 
<div class="card">
<div class="card-header border-0">
    <h3 class="mb-0">
    Light table</h3>
</div>
<!-- Light table -->
<div class="table-responsive">
    <table class="table align-items-center table-flush">
    <thead class="thead-light"> 
{% endcomment %}
{% if '3' in tag.grouper or '4' in tag.grouper %}
    <div class="card">
    <div class="card-header border-0">
        <h3 class="mb-0">
{% else %}
    <div class="card bg-default">
    <div class="card-header bg-transparent border-0">
        <h3 class="text-white mb-0">
{% endif %}
        {% if '1' in tag.grouper %}
            University
        {% elif '3' in tag.grouper and '2' in tag.grouper %}
            {{ student.department.description }} >
            Semester {{ student.semester }}
        {% elif '2' in tag.grouper %}
            {{ student.department.description }}
        {% elif '3' in tag.grouper %}
            Semester {{ student.semester }}
        {% elif '4' in tag.grouper %}
            Course Related
        {% endif %}
    </h3>
</div>
<div class="table-responsive">
{% if '3' in tag.grouper or '4' in tag.grouper %}
    <table class="table table-bordered align-items-center table-flush">
    <thead class="thead-light"> 
{% else %}
    <table class="table align-items-center table-dark table-flush">
    <thead class="thead-dark">
{% endif %}
        <tr>
        <th scope="col">By</th>
        <th scope="col" class="w-50">Title</th>
        {% if '4' in tag.grouper %}
        <th scope="col">Course</th>
        {% endif %}
        <th scope="col">Status</th>
        <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody class="list">
        {% for a in tag.list %}
        <tr>
        <td>
            <div class="avatar-group">
            <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="{{ a.created_by.first_name }} {{ a.created_by.last_name }}">
                {% avatar a.created_by 32 %}
            </a>
            </div>
        </td>
        <th scope="row">
{% if '3' in tag.grouper or '4' in tag.grouper %}
    <a href={% url 'announcement_detail' a.pk %} class="name mb-0 text-sm text-dark">
        {{ a.title }}
    </a>
{% else %}
    <a href={% url 'announcement_detail' a.pk %} class="name mb-0 text-sm text-white">
        {{ a.title }}
    </a>
{% endif %}
        </th>
        {% if '4' in tag.grouper %}
            <th>
                {% for course in a.announcement_filters.course.all %}
                    <span class="name mb-0 text-sm">{{ course.course.code }}</span>
                {% endfor %}
            </th>
        {% endif %}
        <td>
            <span class="badge badge-dot mr-4">
            <i class="bg-success"></i>
            <span class="status">active</span>
            </span>
        </td>
        <td>
            on {{ a.start_date.date }}
        </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
</div>