{% load static %}

<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
<div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header d-flex align-items-center">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static '/img/brand/dark/default.png' %}" class="navbar-brand-img" alt="Saiki Student Portal">
    </a>
    <div class="ml-auto">
        <!-- Sidenav toggler -->
        <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
        <div class="sidenav-toggler-inner">
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
        </div>
        </div>
    </div>
    </div>
    <div class="navbar-inner">
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        {% if is_student %}
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link {{ is_announcement_page }}" href="{% url 'announcement' %}" role="button" aria-controls="navbar-dashboards">
            <i class="ni ni-notification-70 text-default"></i>
            <span class="nav-link-text">Announcements</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ is_course_page }}" href="{% url 'course' %}" role="button" aria-controls="navbar-courses">
            <i class="ni ni-collection text-primary"></i>
            <span class="nav-link-text">Courses</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ is_assignment_page }}" href="{% url 'assignment' %}" role="button" aria-controls="navbar-assignment">
            <i class="ni ni-sound-wave text-green"></i>
            <span class="nav-link-text">Assignments</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ is_result_page }}" href="{% url 'result' %}" role="button" aria-controls="navbar-result">
            <i class="ni ni-trophy text-info"></i>
            <span class="nav-link-text">Results</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}" role="button" aria-controls="navbar-logout">
            <i class="ni ni-user-run text-red"></i>
            <span class="nav-link-text">Logout</span>
            </a>
        </li>
        </ul>
        {% elif teacher %}
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link {{ is_course_page }}" href="{% url 'course' %}" role="button" aria-controls="navbar-courses">
            <i class="ni ni-collection text-primary"></i>
            <span class="nav-link-text">Courses</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ is_assignment_page }}" href="{% url 'assignment' %}" role="button" aria-controls="navbar-assignment">
            <i class="ni ni-sound-wave text-green"></i>
            <span class="nav-link-text">Assignments</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}" role="button" aria-controls="navbar-logout">
            <i class="ni ni-user-run text-red"></i>
            <span class="nav-link-text">Logout</span>
            </a>
        </li>
        </ul>
        {% endif %}
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading p-0 text-muted">Documentation</h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">
        <li class="nav-item">
            <a class="nav-link" href="#" target="_blank">
            <i class="ni ni-spaceship"></i>
            <span class="nav-link-text">Getting started</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" target="_blank">
            <i class="ni ni-palette"></i>
            <span class="nav-link-text">REST Api</span>
            </a>
        </li>

        </ul>
    </div>
    </div>
</div>
</nav>