{% extends "base.html" %}
{% load static %}
{% load comments %}
{% load comments_xtd %}
{% load avatar_tags %}


{% block content %}

{% include '../includes/header_course.html' %}

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card col-lg-7 mx-auto px-0">
               {% include "./post_card.html" %}
               {% if object.allow_comments %}
                <div id="comments"></div>
               {% endif %}
          </div>
        </div>
    </div>
</div>
{% endblock %}

{% if object.allow_comments %}
{% block script_1 %}
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script>
 window.comments_props = {% get_commentbox_props for object %};
 window.comments_props.avatar_url = '{% avatar_url user 36 %}'
 window.comments_props_override = {
     allow_comments: {%if object.allow_comments%}true{%else%}false{%endif%},
     allow_feedback: false,
     show_feedback: false,
     allow_flagging: false,
     allow_reply: false,
     polling_interval: 5000  // In milliseconds.
 };
</script>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
<script src="{% static 'js/django_comments_xtd/vendor~plugin-2.8.1.js' %}"></script>
<script src="{% static 'js/django_comments_xtd/plugin-2.8.1.js' %}"></script>
{% endblock %}
{% endif %}
