{% load static %}
{% load meta %}

<!DOCTYPE html>
<html>

    <head {% meta_namespaces %}>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Favicon -->
        <link href="{% static "img/brand/favicon.png" %}" rel="icon" type="image/png">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

        <!-- Icons -->
        <link href="{% static "/vendor/nucleo/css/nucleo.css" %}" rel="stylesheet">
        <link href="{% static "/vendor/@fortawesome/fontawesome-free/css/all.min.css" %}" rel="stylesheet">

        <link type="text/css" href="{% static '/css/argon.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static "/vendor/sweetalert2/dist/sweetalert2.min.css" %}">
        <link type="text/css" href="{% static '/css/main.css' %}" rel="stylesheet" >

        {% block style %}{% endblock %}

        {% include 'meta/meta.html' %}
    </head>

    <body {% block body__attributes %}{% endblock %}>
        {% block body %}{% endblock %}

        <!-- Core -->
        {% block script %}{% endblock %}
        <script src="{% static "/vendor/jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "/vendor/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
        <script src="{% static "/vendor/js-cookie/js.cookie.js" %}"></script>
        <script src="{% static "/vendor/jquery.scrollbar/jquery.scrollbar.min.js" %}"></script>
        <script src="{% static "/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js" %}"></script>
        <script src="{% static "vendor/sweetalert2/dist/sweetalert2.min.js" %}"></script>
        {% include './includes/messaging.html' %}

        {% block script_1 %}{% endblock %}
        <script src="{% static "/js/argon.js" %}"></script>
        {% comment %} <script src="{% static "/js/demo.js" %}"></script> {% endcomment %}
        <script src="{% static '/js/main.js' %}"></script>
        {% block script_2 %}{% endblock %}
    </body>

</html>