{% extends "base.html" %}
{% load static %}

{% block title%}Profile - Saiki{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Profile</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{% url 'edit_profile' %}" type="button" class="btn btn-sm btn-outline-secondary">Edit Profile</a>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <img src="{% static '/images/profile.png' %}" alt="Profile picture" class="img-thumbnail">
    </div>
    <div class="col-9">
        <table class="table table-bordered table-hover table-sm">
            <tbody>
                <tr>
                <th class="w-25" scope="row">Username</th>
                <td class="w-75">{{ user.username }}</td>
                </tr>
                <tr>
                <th class="w-25" scope="row">Email</th>
                <td class="w-75">{{ user.email }}</td>
                </tr>
                <tr>
                <th class="w-25" scope="row">First name</th>
                <td class="w-75">{{ user.first_name }}</td>
                </tr>
                <tr>
                <th class="w-25" scope="row">Last name</th>
                <td class="w-75">{{ user.last_name }}</td>
                </tr>
                <tr>
                <th class="w-25" scope="row">CGPA</th>
                <td class="w-75">3.97</td>
                </tr>
                <tr>
                <th class="w-25" scope="row">Last login</th>
                <td class="w-75">{{ user.last_login }}</td>
                </tr>
                <tr>
                <th class="w-25" scope="row">Date joined</th>
                <td class="w-75">{{ user.date_joined }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row mt-4">
<div class="col-12">
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="true">About</a>
    <a class="nav-item nav-link" id="nav-guardian-tab" data-toggle="tab" href="#nav-guardian" role="tab" aria-controls="nav-guardian" aria-selected="false">Guardian</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Academic</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active pt-3" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
    <table class="table table-bordered table-hover table-sm">
        <tbody>
            <tr>
            <th class="w-25" scope="row">Display name</th>
            <td class="w-75">{{ student.display_name }}</td>
            </tr>
            <tr>
            <th class="w-25" scope="row">Date of Birth</th>
            <td class="w-75">{{ student.dob }}</td>
            </tr>
            <tr>
            <th class="w-25" scope="row">CNIC</th>
            <td class="w-75">{{ student.CNIC }}</td>
            </tr>
            <tr>
            <th class="w-25" scope="row">Gender</th>
            <td class="w-75">
                {% if student.gender == 'M' %}
                    Male
                {% elif student.gender == 'F' %}
                    Female
                {% elif student.gender == 'O' %}
                    Other
                {% elif student.gender == 'N' %}
                    Prefer not to say
                {% endif %}
            </td>
            </tr>
            <tr>
            <th class="w-25" scope="row">Phone number</th>
            <td class="w-75">{{ student.phone_number }}</td>
            </tr>
            <tr>
            <th class="w-25" scope="row">Telephone</th>
            <td class="w-75">{{ student.telephone }}</td>
            </tr>
            <tr>
            <th class="w-25" scope="row">Address</th>
            <td class="w-75">{{ student.address_1 }}</td>
            </tr>
            <tr>
            <th class="w-25" scope="row">Address 2</th>
            <td class="w-75">{{ student.address_2 }}</td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="tab-pane fade pt-3" id="nav-guardian" role="tabpanel" aria-labelledby="nav-guardian-tab">
     <table class="table table-bordered table-hover table-sm">
        <tbody>
            <tr>
                <th class="w-25" scope="row">Guardian name</th>
                <td class="w-75">{{ student.guardian.guardian_name }}</td>
            </tr>
            <tr>
                <th class="w-25" scope="row">CNIC</th>
                <td class="w-75">{{ student.guardian.CNIC }}</td>
            </tr>
            <tr>
                <th class="w-25" scope="row">Phone Number</th>
                <td class="w-75">{{ student.guardian.phone_number }}</td>
            </tr>
            <tr>
                <th class="w-25" scope="row">Relationship</th>
                <td class="w-75">{{ student.guardian.relationship }}</td>
            </tr>
            <tr>
                <th class="w-25" scope="row">Occupation</th>
                <td class="w-75">{{ student.guardian.occupation }}</td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="tab-pane fade pt-3" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <table class="table table-bordered table-hover table-sm">
        <tbody>
            <tr>
                <th class="w-25" scope="row">College Name</th>
                <td class="w-75">{{ student.academic_records.college_name }}</td>
            </tr>
            <tr>
                <th class="w-25" scope="row">Year</th>
                <td class="w-75">{{ student.academic_records.year }}</td>
            </tr>
            <tr>
                <th class="w-25" scope="row">Start Date</th>
                <td class="w-75">{{ student.academic_records.start_date }}</td>
            </tr>
            <tr>
                <th class="w-25" scope="row">End Date</th>
                <td class="w-75">{{ student.academic_records.end_date }}</td>
            </tr>
            <tr>
                <th class="w-25" scope="row">Percentage</th>
                <td class="w-75">{{ student.academic_records.percentage }}</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
</div>
</div>
{% endblock %}